/*	https://discord.gg/phKrnFvE3s
	krunker css discord ^
	don't know why did I put this
*/
@import url(https://envyxyz.github.io/removal/removal.css);

:root {
	--font-colour: #65ccff;
	--pfp: url(https://cdn.discordapp.com/avatars/733198765162496120/74946fdefa9b585ca801e1953c5c3916.png?size=256);
	--pfp-r: 5px; /*pfp border radius*/
	--shadow: 2.5px 5px 5px black; /*spread vertical horizontal colour*/
}

/* display: none */
#ammoMax,
#maxHP {
	display: none !important;
}

/* Loading menu */
@keyframes legacyloader {
	from {
		opacity: 0.7;
		font-size: 30px;
	}
}

#initLoader {
	background-color: transparent;
}

#initLoader > * {
	display: none;
}

#initLoader > :empty {
	opacity: 0;
}

#loadGamNm {
	display: block !important;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 0;
	width: 500px;
	height: 500px;
	line-height: 500px;
	background: black;
}

#loadGamNm::before {
	content: "CONNECTING...";
	color: rgba(255, 255, 255, 0.8);
	font-size: 32px;
	animation: grow 0.8s infinite alternate;
}

#instructions > *[style*="transform:scale(1.4);"] {
	transform: scale(0.7) !important;
}

#instructions > * > .lds-ring {
	width: unset;
	height: unset;
}

#instructions > * > .lds-ring > * {
	display: none;
}

#instructions > * > .lds-ring::before {
	content: "LOADING...";
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(255, 255, 255, 0.8);
	transform: translate(-50%, -75%);
	font-size: 32px;
	animation: legacyloader 0.8s infinite alternate;
}

/* Class selector */
#hiddenClasses {
	display: flex !important;
	flex-direction: row;
	position: fixed;
	left: 50%;
	bottom: 26%;
	transform: translate(-50%);
	margin-right: 10px;
}

#menuClassPicker0[onclick="selectClass(0)"],
#menuClassPicker1[onclick="selectClass(1)"],
#menuClassPicker2[onclick="selectClass(2)"],
#menuClassPicker3[onclick="selectClass(3)"],
#menuClassPicker4[onclick="selectClass(4)"],
#menuClassPicker5[onclick="selectClass(5)"],
#menuClassPicker6[onclick="selectClass(6)"],
#menuClassPicker7[onclick="selectClass(7)"],
#menuClassPicker8[onclick="selectClass(8)"],
#menuClassPicker9[onclick="selectClass(9)"],
#menuClassPicker10[onclick="selectClass(10)"],
#menuClassPicker11[onclick="selectClass(11)"],
#menuClassPicker12[onclick="selectClass(12)"],
#menuClassPicker13[onclick="selectClass(13)"],
#menuClassPicker14[onclick="selectClass(14)"] {
	width: 60px;
	pointer-events: auto;
	image-rendering: pixelated;
	margin-right: 10px;
}

#menuClassPicker0[onclick="selectClass(0)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_0.png?build=uLz7w);
}
#menuClassPicker1[onclick="selectClass(1)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_1.png?build=uLz7w);
}
#menuClassPicker2[onclick="selectClass(2)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_2.png?build=uLz7w);
}
#menuClassPicker3[onclick="selectClass(3)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_3.png?build=uLz7w);
}
#menuClassPicker4[onclick="selectClass(4)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_4.png?build=uLz7w);
}
#menuClassPicker5[onclick="selectClass(5)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_5.png?build=uLz7w);
}
#menuClassPicker6[onclick="selectClass(6)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_6.png?build=uLz7w);
}
#menuClassPicker7[onclick="selectClass(7)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_7.png?build=uLz7w);
}
#menuClassPicker8[onclick="selectClass(8)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_8.png?build=uLz7w);
}
#menuClassPicker9[onclick="selectClass(9)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_9.png?build=uLz7w);
}
#menuClassPicker10[onclick="selectClass(10)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_10.png?build=uLz7w);
}
#menuClassPicker11[onclick="selectClass(11)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_11.png?build=uLz7w);
}
#menuClassPicker12[onclick="selectClass(12)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_12.png?build=uLz7w);
}
#menuClassPicker13[onclick="selectClass(13)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_13.png?build=uLz7w);
}
#menuClassPicker14[onclick="selectClass(14)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_14.png?build=uLz7w);
}

#menuClassPicker0[onclick="selectClass(0)"]:hover,
#menuClassPicker1[onclick="selectClass(1)"]:hover,
#menuClassPicker2[onclick="selectClass(2)"]:hover,
#menuClassPicker3[onclick="selectClass(3)"]:hover,
#menuClassPicker4[onclick="selectClass(4)"]:hover,
#menuClassPicker5[onclick="selectClass(5)"]:hover,
#menuClassPicker6[onclick="selectClass(6)"]:hover,
#menuClassPicker7[onclick="selectClass(7)"]:hover,
#menuClassPicker8[onclick="selectClass(8)"]:hover,
#menuClassPicker9[onclick="selectClass(9)"]:hover,
#menuClassPicker10[onclick="selectClass(10)"]:hover,
#menuClassPicker11[onclick="selectClass(11)"]:hover,
#menuClassPicker12[onclick="selectClass(12)"]:hover,
#menuClassPicker13[onclick="selectClass(13)"]:hover,
#menuClassPicker14[onclick="selectClass(14)"]:hover {
	cursor: pointer;
}

/* Menu timer */
#uiBase.onMenu #spectateUI {
	display: block !important;
	position: fixed;
	bottom: 38%;
	top: unset;
	left: 50%;
	right: unset;
	transform: translate(-50%, 50%);
	z-index: 1;
	width: 10px;
	height: 10px;
}

#uiBase.onMenu #spectateHUD {
	display: flex;
	justify-content: center;
	transform: unset;
	left: unset;
}

#uiBase.onMenu #specTeam0,
/*#uiBase.onMenu #spec0,
#uiBase.onMenu #spec1,*/
#uiBase.onMenu #specNames,
#uiBase.onMenu #specStats,
#uiBase.onMenu #specContr,
#uiBase.onMenu #specKPDContr,
#uiBase.onMenu #specSus,
#uiBase.onMenu #specTeam1,
#uiBase.onMenu #specGMessage,
#uiBase.onMenu #specGameInfo {
	display: none !important;
}

#uiBase.onMenu #specTimer {
	display: block !important;
	font-size: 35px;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.55);
	top: -80px !important;
}

/* timer */
#timerDisplay {
	position: fixed;
	left: 50%;
	top: 40px;
	transform: translateX(-50%);
}

/* idkr */
#altAdd {
	padding-top: 30px;
}

/* profile pic blah blah blah */
#bottomLeftClassImg, #menuMiniProfilePic, #profilePicM {
	content: var(--pfp);
}
#hudClassIcon {
	width: 100px;
	height: 100px;
	margin-right: 10px;
	/*filter: drop-shadow(var(--shadow));
	background: none;*/
}
#profilePicM {
	border-width: 0;
	border-radius: calc(var(--pfp-r) * 2);
}
.blurred {
	filter: none;
	image-rendering: auto;
}
.pfpAction {
	background-color: transparent;
}

/* PogPega */
.chatMsg {
	color: var(--font-colour) !important;
}

#curGameInfo {
	font-size: 0;
}
#curGameInfo:after {
	font-size: 18px !important;
	color: var(--font-colour);
	content: "PogPega";
}
#mainLogo { 
	content: url(https://imsuck.github.io/krankr-stuff/img/PogPega.png);
}
#mainLogoFace {
	display: none;
}

/* icons */
#timerIcon,
#challIcon,
#ammoIcon {
	display: none;
}
#ammoHolder {
	padding: 0;
	position: fixed;
	left: 50%;
	top: 52.5%;
	transform: translateX(-50%);
	width: 50px;
	height: 4px;
	background-color: transparent;
	background-image: linear-gradient(#fff, #fff);
}
#ammoHolder .greyInner {
	background-color: transparent;
}
#ammoVal {
	padding: 8px 17px 7px 20px;
	position: fixed;
	bottom: calc(-71.4vh + 25px);
	right: calc(-131vh + 30px);
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 6px;
}

/* health */
#healthValueHolder {
	background: none;
}
#healthValue {
	font-size: 26px;
	transform: translateY(60px);
}
#healthBar {
	display: inline-flex;
	flex-direction: row;
	width: 300px;
	border-radius: 0;
	outline: 4px solid black;
	background-color: rgba(0, 0, 0, 0.25);
}
.nHealthBarSeg {
	margin: 0 -1px;
	border-radius: 0;
	background-color: transparent;
	width: -webkit-fill-available;
}
.nHpBSeg {
	border-radius: 0;
	box-shadow: none;
}
