/*	https://discord.gg/phKrnFvE3s
	krunker css discord ^
	don't know why did I put this
*/
@import url(https://envyxyz.github.io/removal/removal.css);

:root {
	--pfp: url(https://cdn.discordapp.com/avatars/733198765162496120/5af064113eca0f0d04d2ba10d9b97961.png?size=128);
	--pfp-r: 5px; /*pfp edge radius*/
	--shadow: 2.5px 5px 5px black; /*spread vertical horizontal colour*/
}

/* Loading menu */
@keyframes legacyloader {
	from {
		opacity: 0.7;
		font-size: 30px;
	}
}

#initLoader {
	background-color: transparent;
}

#initLoader > * {
	display: none;
}

#initLoader > :empty {
	opacity: 0;
}

#loadGamNm {
	display: block !important;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 0;
	width: 500px;
	height: 500px;
	line-height: 500px;
	background: black;
}

#loadGamNm::before {
	content: "CONNECTING...";
	color: rgba(255, 255, 255, 0.8);
	font-size: 32px;
	animation: grow 0.8s infinite alternate;
}

#instructions > *[style*="transform:scale(1.4);"] {
	transform: scale(0.7) !important;
}

#instructions > * > .lds-ring {
	width: unset;
	height: unset;
}

#instructions > * > .lds-ring > * {
	display: none;
}

#instructions > * > .lds-ring::before {
	content: "LOADING...";
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(255, 255, 255, 0.8);
	transform: translate(-50%, -75%);
	font-size: 32px;
	animation: legacyloader 0.8s infinite alternate;
}

/* Menu timer */
#uiBase.onMenu #spectateUI {
	display: block !important;
	position: fixed;
	bottom: 50%;
	top: unset;
	left: 50%;
	right: unset;
	transform: translate(-50%, 50%);
	z-index: 1;
	width: 10px;
	height: 10px;
}

#uiBase.onMenu #spectateHUD {
	display: flex;
	justify-content: center;
	transform: unset;
	left: unset;
}

#uiBase.onMenu #specTeam0,
#uiBase.onMenu #spec0,
#uiBase.onMenu #spec1,
#uiBase.onMenu #specNames,
#uiBase.onMenu #specStats,
#uiBase.onMenu #specContr,
#uiBase.onMenu #specKPDContr,
#uiBase.onMenu #specSus,
#uiBase.onMenu #specTeam1,
#uiBase.onMenu #specGMessage,
#uiBase.onMenu #specGameInfo {
	display: none !important;
}

#uiBase.onMenu #specTimer {
	display: block !important;
	font-size: 35px;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.55);
}a

/* idkr */
#altAdd {
	padding-top: 30px;
}

/* Random pfp thing */
#hudClassIcon {
	content: var(--pfp, url(https://cdn.discordapp.com/avatars/733198765162496120/5af064113eca0f0d04d2ba10d9b97961.png?size=128));
	filter: drop-shadow(var(--shadow));
}
#profilePicM {
	border-width: 0;
	border-radius: calc(var(--pfp-r) * 2);
}
#profilePicM > img {
	content: var(--pfp, url(https://cdn.discordapp.com/avatars/733198765162496120/5af064113eca0f0d04d2ba10d9b97961.png?size=128));
}
.blurred {
	filter: none;
	image-rendering: auto;
}
.pfpAction {
	background-color: transparent;
}

/* PogPega */
.chatItem > span {
	color: #65ccff;
}

#curGameInfo {
	font-size: 0;
}
#curGameInfo:after {
	font-size: 18px !important;
	color: #65ccff;
	content: "PogPega";
}
#mainLogo { 
	content: url(https://imsuck.github.io/krankr-stuff/img/PogPega.png);
}
