/*	https://discord.gg/phKrnFvE3s	*/

@import url(https://css.reizu.moe/reizu/reizu.css);
@import url(https://envyxyz.github.io/removal/removal.css);

:root {
	--accent-color: #ffb7c5;
	--health-color: var(--accent-color);
	--ammo-color: #fff;
	--ammo-reload-color: #0ff;
	--premium-color: #fbc02d;
	--verified-color: #40c4ff;
	--menu-bg-color: rgba(15, 15, 15, 0.2);
	--menu-bg-color-secondary: rgba(0, 0, 0, 0.5);
	--ingame-bg-color: rgba(15, 15, 15, 0.2);
	--text-transform: lowercase;
	--pfp: url(https://cdn.discordapp.com/avatars/733198765162496120/84e15a7862967028856c252540245e7a.png?size=256);
	--pfp-w: 96px;
	--pfp-h: 96px;
	--pfp-r: 5px; /*pfp edge radius*/
	--shadow: 2.5px 5px 5px black; /*spread vertical horizontal colour*/
}

@font-face {
	font-family: gamefont;
	src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2);
}
@font-face {
	font-family: hpammo;
	src: url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2);
}

/* Loading menu */
@keyframes legacyloader {
	from {
		opacity: 0.7;
		font-size: 30px;
	}
}

#initLoader {
	background-color: transparent;
}

#initLoader > * {
	display: none;
}

#initLoader > :empty {
	opacity: 0;
}

#loadGamNm {
	display: block !important;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 0;
	width: 500px;
	height: 500px;
	line-height: 500px;
	background: black;
}

#loadGamNm::before {
	content: "CONNECTING...";
	color: rgba(255, 255, 255, 0.8);
	font-size: 32px;
	animation: grow 0.8s infinite alternate;
}

#instructions > *[style*="transform:scale(1.4);"] {
	transform: scale(0.7) !important;
}

#instructions > * > .lds-ring {
	width: unset;
	height: unset;
}

#instructions > * > .lds-ring > * {
	display: none;
}

#instructions > * > .lds-ring::before {
	content: "LOADING...";
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(255, 255, 255, 0.8);
	transform: translate(-50%, -75%);
	font-size: 32px;
	animation: legacyloader 0.8s infinite alternate;
}

/* Menu */
#menuItemContainer {
	background: transparent;
}
.menBtnIcn {
	display: none !important;
}
#classPreviewCanvas {
	filter: drop-shadow(var(--shadow));
	margin-bottom: -400px;
}
#customizeButton {
	font-size: 0 !important;
	position: relative;
	height: 300px;
}
#menuKRCount,
#menuAccountUsername,
#signedInHeaderBar {
	font-size: 28px;
}

/* Class selector */
#hiddenClasses {
	display: flex !important;
	flex-direction: row;
	position: fixed;
	left: 50%;
	bottom: 15%;
	transform: translate(-50%);
	margin-right: 10px;
}

#menuClassPicker0[onclick="selectClass(0)"],
#menuClassPicker1[onclick="selectClass(1)"],
#menuClassPicker2[onclick="selectClass(2)"],
#menuClassPicker3[onclick="selectClass(3)"],
#menuClassPicker4[onclick="selectClass(4)"],
#menuClassPicker5[onclick="selectClass(5)"],
#menuClassPicker6[onclick="selectClass(6)"],
#menuClassPicker7[onclick="selectClass(7)"],
#menuClassPicker8[onclick="selectClass(8)"],
#menuClassPicker9[onclick="selectClass(9)"],
#menuClassPicker10[onclick="selectClass(10)"],
#menuClassPicker11[onclick="selectClass(11)"],
#menuClassPicker12[onclick="selectClass(12)"],
#menuClassPicker13[onclick="selectClass(13)"],
#menuClassPicker14[onclick="selectClass(14)"] {
	width: 60px;
	pointer-events: auto;
	image-rendering: pixelated;
	margin-right: 10px;
}

#menuClassPicker0[onclick="selectClass(0)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_0.png?build=uLz7w);
}
#menuClassPicker1[onclick="selectClass(1)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_1.png?build=uLz7w);
}
#menuClassPicker2[onclick="selectClass(2)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_2.png?build=uLz7w);
}
#menuClassPicker3[onclick="selectClass(3)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_3.png?build=uLz7w);
}
#menuClassPicker4[onclick="selectClass(4)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_4.png?build=uLz7w);
}
#menuClassPicker5[onclick="selectClass(5)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_5.png?build=uLz7w);
}
#menuClassPicker6[onclick="selectClass(6)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_6.png?build=uLz7w);
}
#menuClassPicker7[onclick="selectClass(7)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_7.png?build=uLz7w);
}
#menuClassPicker8[onclick="selectClass(8)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_8.png?build=uLz7w);
}
#menuClassPicker9[onclick="selectClass(9)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_9.png?build=uLz7w);
}
#menuClassPicker10[onclick="selectClass(10)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_10.png?build=uLz7w);
}
#menuClassPicker11[onclick="selectClass(11)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_11.png?build=uLz7w);
}
#menuClassPicker12[onclick="selectClass(12)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_12.png?build=uLz7w);
}
#menuClassPicker13[onclick="selectClass(13)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_13.png?build=uLz7w);
}
#menuClassPicker14[onclick="selectClass(14)"] {
	content: url(https://assets.krunker.io/textures/classes/icon_14.png?build=uLz7w);
}

#menuClassPicker0[onclick="selectClass(0)"]:hover,
#menuClassPicker1[onclick="selectClass(1)"]:hover,
#menuClassPicker2[onclick="selectClass(2)"]:hover,
#menuClassPicker3[onclick="selectClass(3)"]:hover,
#menuClassPicker4[onclick="selectClass(4)"]:hover,
#menuClassPicker5[onclick="selectClass(5)"]:hover,
#menuClassPicker6[onclick="selectClass(6)"]:hover,
#menuClassPicker7[onclick="selectClass(7)"]:hover,
#menuClassPicker8[onclick="selectClass(8)"]:hover,
#menuClassPicker9[onclick="selectClass(9)"]:hover,
#menuClassPicker10[onclick="selectClass(10)"]:hover,
#menuClassPicker11[onclick="selectClass(11)"]:hover,
#menuClassPicker12[onclick="selectClass(12)"]:hover,
#menuClassPicker13[onclick="selectClass(13)"]:hover,
#menuClassPicker14[onclick="selectClass(14)"]:hover {
	cursor: pointer;
}

/* Weapon holder*/
#weapDisplay {
	position: absolute;
	bottom: 200px;
	display: grid !important;
	place-items: center;
}
#uiBase.onDeathScrn #weapDisplay {
	display: none !important;
}
.weapItem {
	margin: 0 -5px;
	grid-area: 1 / 1 / 2 / 2;
}
.weapIcon {
	opacity: 0 !important;
	transform: scale(2);
	width: 0 !important;
}
.weapIcon[style*="1"] {
	opacity: 1 !important;
	width: 100px !important;
}

/* hp ammo */
#healthValueHolder {
	display: none;
}
#healthBar {
	position: fixed;
	display: inline-flex;
	flex-direction: row;
	border-radius: 0;
	left: 50%;
	bottom: 5%;
	width: 270px;
	height: 30px;
	transform: translateX(-50%);
	outline: 2px solid black;
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: var(--shadow);
}
.healthBarSeg {
	margin: 0;
	border-radius: 0;
	background-color: transparent;
	width: -webkit-fill-available;
}
.hpBSeg {
	border-radius: 0;
	box-shadow: none;
}

#ammoDisplay {
	padding: 0;
	bottom: 5%;
	right: 35%;
	width: 150px;
	height: 5px;
	background-image: linear-gradient(var(--ammo-reload-color), var(--ammo-reload-color));
}
#ammoVal {
	font-size: 96px;
	width: 150px;
	transform: translateY(-102px);
	text-shadow: var(--shadow);
	text-align: left;
}

#hudClassIcon {
	position: fixed;
	display: block;
	bottom: 5%;
	left: calc(35% + calc(110px - var(--pfp-w)));
	width: var(--pfp-w);
	height: var(--pfp-h);
	content: var(--pfp);
	border-color: transparent;
	border-radius: var(--pfp-r);
	filter: drop-shadow(var(--shadow));
}

/* Chat */
#chatHolder {
	bottom: 150px !important;
}

/* Menu timer */
#uiBase.onMenu #spectateUI {
	display: block !important;
	position: fixed;
	bottom: 50%;
	top: unset;
	left: 50%;
	right: unset;
	transform: translate(-50%, 50%);
	z-index: 1;
	width: 10px;
	height: 10px;
}

#uiBase.onMenu #spectateHUD {
	display: flex;
	justify-content: center;
	transform: unset;
	left: unset;
}

#uiBase.onMenu #specTeam0,
#uiBase.onMenu #spec0,
#uiBase.onMenu #spec1,
#uiBase.onMenu #specNames,
#uiBase.onMenu #specStats,
#uiBase.onMenu #specContr,
#uiBase.onMenu #specKPDContr,
#uiBase.onMenu #specSus,
#uiBase.onMenu #specTeam1,
#uiBase.onMenu #specGMessage,
#uiBase.onMenu #specGameInfo {
	display: none !important;
}

#uiBase.onMenu #specTimer {
	display: block !important;
	font-size: 35px;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.55);
}

/* next objective */
#gameMessage {
	position: absolute;
	top: 150px;
	left: 300px;
	font-size: 48px;
}

/* server menu */
.settName {
	color: var(--accent-color) !important;
	padding: 20px 0;
	margin-top: 0 !important;
}

/* idkr */
#altAdd {
	padding-top: 30px;
}

/* Random pfp thing */
#profilePicM {
	border-width: 0;
	border-radius: calc(var(--pfp-r) * 2);
}
#profilePicM > img {
	content: var(--pfp);
}
.blurred {
	filter: none;
	image-rendering: auto;
}
.pfpAction {
	background-color: transparent;
}
